<div id="search-box" style="font-family: 'VT323', serif; font-size:32px">
  <div class="col-xs-9">
    <p>
      hello, <br> 
      please enter a <br>
      gene symbol or transcript name
      </p>
  </div>
  <div class="col-xs-6">
    <form ng-submit="submitQuery(query)">
      <input type="text" name="geneSearch" class="form-control"
         ng-model="query"
         typeahead="region for region in searchRegions($viewValue) | orderBy:'toString()' | orderBy:'length' | limitTo:10"
         placeholder="e.g. APOE or ENSG00000223972.5">
    </form>  
  </div>  
</div>
